.social-login  
    button.social-login__gihub
        span
            i.fab.fa-github
        | Continue with Gihub
    button
        span.social-login__facebook
            i.fab.fa-facebook
        | Continue with Facebook